@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Source+Sans+Pro:wght@400;600&display=swap");
html,
body,
ul,
ol,
h1,
p {
  margin: 0;
  padding: 0;
}

.add__prod textarea, .add__prod input {
  padding: 11px 0px 10px 16px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFEFB;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 6px;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #3F3F3F;
}
.add__prod textarea:focus, .add__prod input:focus {
  outline: none;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 8px 10px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 8px 10px rgba(0, 0, 0, 0.04);
}
.add__prod textarea::-webkit-input-placeholder, .add__prod input::-webkit-input-placeholder {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
}
.add__prod textarea::-moz-placeholder, .add__prod input::-moz-placeholder {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
}
.add__prod textarea:-ms-input-placeholder, .add__prod input:-ms-input-placeholder {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
}
.add__prod textarea::-ms-input-placeholder, .add__prod input::-ms-input-placeholder {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
}
.add__prod textarea::placeholder, .add__prod input::placeholder {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
}

@media (min-width: 1440px) {
  section.main {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
  }
}
@media (max-width: 1440px) {
  section.main {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
  }
}
@media (max-width: 1200px) {
  section.main {
    padding-left: calc(50% - 360px);
    padding-right: calc(50% - 360px);
  }
}
@media (max-width: 768px) {
  section.main {
    padding-left: calc(50% - 260px);
    padding-right: calc(50% - 260px);
  }
}
@media (max-width: 576px) {
  section.main {
    padding: 0 15px;
  }
}
@media (max-width: 320px) {
  section.main {
    padding: 0px 0px;
  }
}

body {
  background: rgba(255, 254, 251, 0.8);
}

h1 {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #3F3F3F;
}
@media (max-width: 768px) {
  h1 {
    margin-bottom: 24px;
    text-align: center;
  }
}

section.main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 8px;
  align-items: center;
  margin-top: 29px;
  margin-bottom: 18px;
}
@media (max-width: 768px) {
  section.main header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#main__header__select {
  position: relative;
  background: #FFFEFB;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#main__header__select select {
  border: none;
  padding: 10px 13px 11px 13px;
  height: 36px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #B4B4B4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  cursor: pointer;
}
#main__header__select select option {
  max-width: 200px;
  width: 100%;
}
#main__header__select select:focus {
  outline: none;
}
#main__header__select::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 8px;
  background: url("../images/arrD.png") no-repeat right center;
  background-size: contain;
  right: 14px;
  top: 14px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 768px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.add__prod {
  width: 100%;
  max-width: 288px;
  position: absolute;
  background: #FFFEFB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 24px;
  margin-right: 14px;
}
@media (max-width: 768px) {
  .add__prod {
    position: relative;
    margin-bottom: 24px;
    margin-right: 0;
  }
}
.add__prod__label {
  display: block;
  margin-bottom: 4px;
  margin-top: 16px;
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #49485E;
}
.add__prod__label::after {
  content: "*";
  color: red;
  font-size: 16px;
}
.add__prod__label.disabled::after {
  content: none;
}
.add__prod input.error {
  border: 1px solid #FF8484;
}
.add__prod textarea {
  resize: none;
  height: 108px;
  padding-right: 16px;
}
.add__prod textarea.error {
  border: 1px solid #FF8484;
}
.add__prod textarea::-webkit-scrollbar {
  height: 12px;
  width: 3px;
}
.add__prod textarea::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 5px;
}
.add__prod__button {
  margin-top: 8px;
  background: #EEEEEE;
  border-radius: 10px;
  width: 100%;
  padding: 10px 0 10px 0;
  border: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.add__prod__button.active {
  background: #7BAE73;
  color: #fff;
}
.add__prod__button.active:hover {
  background: #8FCA86;
}
.add__prod__button.active:focus {
  background: #6F9D68;
}

p.errorText {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #FF8484;
  display: none;
}

.card {
  background: #FFFEFB;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  max-width: 332px;
  width: 100%;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
}
.card:hover .card__delete {
  display: block;
  opacity: 1;
}
.card__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 14px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 347px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .card__group {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.card__image {
  width: 100%;
}
.card__delete {
  position: absolute;
  top: -10px;
  right: -11px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.card__delete.active {
  display: block;
}
.card__info {
  padding: 0px 16px 0px 13px;
}
.card__title {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-top: 14px;
  margin-bottom: 16px;
  color: #3F3F3F;
}
.card__text {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #3F3F3F;
  margin-bottom: 32px;
}
.card__price {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  color: #3F3F3F;
  margin-bottom: 24px;
}