<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
	<title>Frontend-test</title>
</head>
<body>




<section class="main">
	<header>
		<h1>Добавление товара</h1>



		<form id="main__header__select" method="post" action="">
				<select name="main__header__sel">
					<option value="default">По умолчанию</option>
					<option value="min">По цене min</option>
					<option value="max">По цене max</option>
					<option value="name">По наименованию</option>
				</select>

		</form>
		
	</header>
	<div class="wrapper">
		<form class="add__prod" > <!-- action="add__product" -->




			<label for="add__prod__name" :class="{ 'disabled': inpTitle.length > 0 }"  >Наименование товара</label>
			<input type="text" id="add__prod__name" placeholder="Введите наименование товара" v-model="inpTitle" >

			<label class="disabled"  for="add__prod__description">Описание товара</label>
			<textarea id="add__prod__description" placeholder="Введите описание товара" ></textarea>

			<label for="add__prod__image" :class="{ 'disabled': inpLink.length > 0 }"  >Ссылка на изображение товара</label>
			<input type="text" id="add__prod__image" placeholder="Введите ссылку" v-model="inpLink">

			<label for="add__prod__price" :class="{ 'disabled': inpPrice.length > 0 }"  >Цена товара</label>
			<input type="text" id="add__prod__price" placeholder="Введите цену" v-model="inpPrice">
			<button class="add__prod__button">Добавить товар</button>
		</form>













		<div class="card__group">
			
			<div class="card">
				<img class="card__image" :src="image" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">{{title}}</p>
					<p class="card__text">{{text}}</p>
					<p class="card__price">{{price}} руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
		</div>
















	</div>
	
</section>
	
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/navAnim.js"></script>

</body>
</html>