<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
	<title>Frontend-test</title>
</head>
<body>




<section class="main">
	<header>
		<h1>Добавление товара</h1>



		<form id="main__header__select" method="post" action="">
				<select name="main__header__sel">
					<option value="default">По умолчанию</option>
					<option value="min">По цене min</option>
					<option value="max">По цене max</option>
					<option value="name">По наименованию</option>
				</select>

		</form>
		
	</header>
	<div class="wrapper">
		<form class="add__prod" > <!-- action="add__product" -->
			<label for="add__prod__name">Наименование товара</label>
			<input type="text" id="add__prod__name" placeholder="Введите наименование товара">

			<label for="add__prod__description">Описание товара</label>
			<textarea id="add__prod__description" placeholder="Введите описание товара"></textarea>

			<label for="add__prod__image">Ссылка на изображение товара</label>
			<input type="text" id="add__prod__image" placeholder="Введите ссылку">

			<label for="add__prod__price">Цена товара</label>
			<input type="text" id="add__prod__price" placeholder="Введите цену">
			<button class="add__prod__button">Добавить товар</button>
		</form>
		<div class="card__group">
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete active"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>
			<div class="card">
				<img class="card__image" src="../static/images/cardBg.png" alt="">
				<img class="card__delete"src="../static/images/cardDelete.png" alt="">
				<div class="card__info">
					<p class="card__title">Наименование товара</p>
					<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
					<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
				</div>
			</div>


			

			
		</div>
	</div>
	
</section>
	
	
<script type="text/javascript">
	const select = document.querySelector(".add__prod")
        const stay = 50
        console.log(stay)
        const CLAY_TOP = "24px"

        window.addEventListener("scroll",function(){
            if(stay <= window.pageYOffset){
                select.style.position = "fixed";
                select.style.top = CLAY_TOP
            }else{
                select.style.position = null;
                select.style.top = null;
            }
        })
</script>
</body>
</html>