<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>






	<div class="card">
		<img class="card__image" src="../static/images/cardBg.png" alt="">
		<img class="card__delete"src="../static/images/cardDelete.png" alt="">
		<p class="card__title">Наименование товара</p>
		<p class="card__text">Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк</p>
		<p class="card__price">10 000 руб</p>  <!--!!!!!!!!!!!!!! -->
	</div>
	
</body>
</html>